@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    height: 100vh; 
    display: flex;
    font-family: 'Raleway',serif;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(backgroundimg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.signup-card {
    display: flex;
    flex-direction: column;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #E8E8E8;
    border-radius: 20px;
    gap: 16px;
    font-family: 'Raleway',serif;
    padding: 50px;
    position: absolute;     
    top: 20%;
    left: 31%;
    margin: 20px;
}
.header,
.footer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #001226;
  color: white;
  font-family: 'Raleway',serif;

}
button {
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: #0052B2;
}
.material-symbols-outlined {
    color: grey;
    font-size: 35px !important;
}
input {
  height: 25px;
  margin: 20px;
  border : 0px solid #000000;
  border-bottom-width : 1px;
  background-color: transparent;
  font-size: 16px;
}
ul {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin: 50px;
}
li {
  display: flex;
  align-items: center;
  
}

#signup {
  font-size: 36px;
  font-weight:900;
  padding: 25px;
  display: flex;
  justify-content: center;
}
#createacc {
  max-width: 240px;
}
